*{
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;



}
.background{
  position:absolute;
  top:0;
  height: 100vh;
  width: 100%;
  background-image: url('https://s1.1zoom.me/b5050/375/391224-svetik_2560x1440.jpg');
  background-size: cover;
}
h2 {
  padding-top: 5px;
  margin-left:10%;
  display:flex;
  font-weight:bolder;
  color:rgba(78, 74, 74, 0.845);
  height: 45px;
  width: 200px;
  position: relative;
  text-align:center;


}

.texto{
  margin-left:10%;
  display:flex;
  font-weight:lighter;
  color:rgba(78, 74, 74, 0.845);
  font-size: 14px;
  height: 70px;
  width: 250px;
  padding: 0;
  position: relative;
  text-align:justify;




}
.pr-title{
  margin-top:30px;
  display:flex;

  width: 100%;
  flex-direction: column;
  height: 100px;
}
.pr-title h1{
  margin:auto;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 3px rgba(255, 255, 255, 0.867);
  font-weight: bold;
}
.pr-title h2{
  margin:auto;
  width: 209px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 3px rgba(255, 255, 255, 0.867);
}

.box{

  margin-left: 40%;
  margin-right: 38%;
  box-shadow: rgba(255, 252, 252, 0.75) 0px -1px 35px 4px;
  background-color: rgb(255, 255, 255);


}
.box-content{



  width:100%;
  padding-top:0;
}
label {
  padding-top: 20px;
  height: 65px;
  width: 130px;
  font-weight:bolder;
  position: relative;
  align-items: center;
  padding: 30px, 20px;
  margin-left:10%;


}

input{
  height: 45px;
  width: 250px;
  margin-left:10%;
  position: relative;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  border-width: 0px;
  border-color: #ffffff;
  background-color: #e8e6e6;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 6px 3px 13px rgba(0,0,0,.35);
  text-shadow: -1px 0px 3px rgba(0, 0, 0, 0.449);

}
input:focus {
  outline:none;
  background-color: #e7f2fd;
  text-shadow: -1px 0px 3px rgba(0, 0, 0, 0);
}

.small{

  height: 45px;
  width: 250px;
  position: relative;
  padding-left: 110px;

}


.small-error{

  height: 15px;
  width: 250px;
  position: relative;
  margin-left:10%;
  color: #e7f2fd;
  font-size: 10px;
  display:flex;
  margin: 0px;
  padding-left:10px;
  background-color: #ea0909;
  border-radius: 3px;
  margin-left:10%;


}



.pasword-form{
  margin-left:10%;
  color: rgba(78, 74, 74, 0.845);
  font-weight: bold;
  font-size: 13px
}
.pasword-form:hover{
  color: #4b9def;
}
button{
  margin-left:10%;
  height: 45px;
  width: 250px;
  position: relative;

  color: #000000;
  font-size: 15px;
  padding: 14px;
  text-decoration: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 5px;

  box-shadow: 2px 2px 6px #000000;
  text-shadow: 1px 1px 0px #f7f7f7;
  border: solid #048b07 1px;
  background: #00b503;

  }
button:hover {
  background: #80d96c;
  border: solid #069708 0px;
  }
button:disabled {
  background: #595a59;
  border: solid #000000 0px;
  color: #ffffff;
}
.Register-form{
  margin-left:10%;
  height: 45px;
  width: 250px;
  position: relative;

  color: rgba(78, 74, 74, 0.845);
  font-size: 14px;
  display:flex;

}
.Register-text{
  margin: auto;
}
.text{
  color: #4b9def;
  font-weight: bold;
}

.text:hover{
  color: #097aeb;
  font-weight: bold;
}
